<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>962638120483-bj49pefhufaonpjic53ieug63vm85t69.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.962638120483-bj49pefhufaonpjic53ieug63vm85t69</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>962638120483-aep47p4gibsnho7s0e6di2g6me7sdr2q.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAE7S7avfYPBT9Kj-4Le24eggHObMviQug</string>
	<key>GCM_SENDER_ID</key>
	<string>962638120483</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mindlift-flutter</string>
	<key>PROJECT_ID</key>
	<string>mindlift-babe1</string>
	<key>STORAGE_BUCKET</key>
	<string>mindlift-babe1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:962638120483:ios:2764c9f7fd4cab1ab4d396</string>
</dict>
</plist>